/hiredis-test
/examples/hiredis-example*
/*.o
/*.so
/*.dylib
/*.a
/*.pc
*.log
*.cmake
/debian/.debhelper
/debian/files
/debian/*.substvars
/debian/*-dev
/debian/*-dbg
/debian/libhiredis0.13
/debian/tmp

