/hiredis-test
/examples/hiredis-example*
/*.o
/*.so
/*.so.*
/*.dylib
/*.a
*.swp
/debian/files
/debian/libhiredis*.debhelper.log
/debian/libhiredis-dbg
/debian/libhiredis-dev
/debian/libhiredis0.13
/hiredis.pc
/debian/tmp
*.substvars
*.postinst.debhelper
*.postrm.debhelper
/*.pc
