#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

override_dh_auto_test:
ifneq ($(shell dpkg-architecture -qDEB_BUILD_ARCH),sparc)
	redis-server ./debian/redis-test.conf
	dh_auto_test
	kill `cat /tmp/redis.pid`
	rm /tmp/redis.pid
	rm /tmp/redis.sock
endif
