#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- DEBUG="-g"

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

override_dh_auto_test:
ifneq ($(shell dpkg-architecture -qDEB_BUILD_ARCH),mipsel)
	redis-server ./debian/redis-test.conf
	dh_auto_test
	kill `cat /tmp/redis.pid`
	$(RM) /tmp/redis.pid
	$(RM) /tmp/redis.sock
endif
